@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lamcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: "Roboto", sans-serif;
    /* max-width: 1440px;
    min-width: 992px; */
    gap: 30px;
    margin: 0 30px 80px 30px;
    }
.lamcard{
    border-radius: 10%;
    -webkit-box-shadow: 3px 2px 29px 0px rgba(191,185,191,1);
    -moz-box-shadow: 3px 2px 29px 0px rgba(191,185,191,1);
    box-shadow: 3px 2px 29px 0px rgba(191,185,191,1);
    
}

.lamcardimage img{
    width: 100%;
}

.lamcard-text{
    padding-top: 10px;
    padding-left: 20px;
}
.lamp{
    font-size: 25px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.lamseminar{
    padding-top: 3px;
    padding-bottom: 5px;
}
.lamh{
    font-weight: bold;
    font-size: 30px;
}
.lamname{
    font-size: 55px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    height: 194px;
    /* width: 100%; */
    margin-left: 70px;
    margin-top: 10px;


}

/* Planşet */
@media screen and (min-width:601px) and(max-width:901px) {
    .lamp{
        font-size: 14px;
    }
    .lamh{
        font-size: 17px;
    }
    
}
/* Mobile */
@media screen and (min-width:0px) and (max-width:600px) {
    .lamp{
        font-size: 18px;
        padding-bottom: 20px;
    }
    .lamh{
        font-size: 21px;
    }
    #lamcards{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .lamcard{
        width: 300px;
    }
}
